{%  extends "plantilla.html"    %}

{%block body%}

    <!-- mensaje con Jinja -->
    {% with msj= get_flashed_messages() %}
    {% if msj %}
    {% for mensaje in msj %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{ mensaje }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

    {% endfor %}
    {% endif %}
    {% endwith %}

    <h1 class="text-center mt-5 mb-5 display-4 text-danger">Gestión de Albums</h1>

    <div class="row">
        <div class="col-md-5">

            <form action="/guardarAlbum" method="post">

                <label>Titulo:</label>
                <input type="text" name="txtTitulo">
        
                <label>Artista:</label>
                <input type="text" name="txtArtista">
        
                <label>Año:</label>
                <input type="number" name="txtAnio">
        
                <button type="submit">Guardar Album</button>
        
            </form>

        </div>

        <div class="col-md-7">
            <table>
                <thead>
                    <tr>
                        <td>ID:</td>
                        <td>Album:</td>
                        <td>Artista:</td>
                        <td>Año:</td>
                        <td>Operaciones</td>
                    </tr>
                </thead>
        
                <tbody>
                    {% for album in albums %}
                    <tr>
                        <td>{{ album.0 }}</td>
                        <td>{{ album.1 }}</td>
                        <td>{{ album.2 }}</td>
                        <td>{{ album.3 }}</td>
                        <td> <a href="/editar/{{ album.0 }}"> Editar </a></td>
                        <td><a onclick="deleteA('{{ album.0 }}')" href="javascript:void(0);">Borrar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>  
        </div>

    </div>

    


    <br>
    <br>
    <br>


    {%endblock%}