{%  extends "plantilla.html"    %}

{%block body%}

    <!-- mensaje con Jinja -->
    {% with msj= get_flashed_messages() %}
    {% if msj %}
    {% for mensaje in msj %}
        <!-- <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{ mensaje }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div> -->

          <script>
            Swal.fire({
                title: "Correcto",
                text: "Album guardado correctamente",
                icon: "success"
              });
          </script>

    {% endfor %}
    {% endif %}
    {% endwith %}

    <h1 class="text-center mt-5 mb-5 display-4 text-danger">Gestión de Albums</h1>

    <div class="row">
        <div class="col-md-5">

            <div class="container" style="background: rgba(255, 255, 255, 0.35);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border: 1px solid rgba(255, 255, 255, 0.65);">
                <form action="/guardarAlbum" method="post">
        
                    
        
                    <div class="mb-3">
                        <label >Titulo:</label>
                        <input type="text" name="txtTitulo" class="form-control">
                    </div>
        
                    <div class="mb-3">
                        <label >Artista:</label>
                        <input type="text" name="txtArtista" class="form-control">
                    </div>
        
                    <div class="mb-3">
                        <label >Año</label>
                        <input type="number" name="txtAnio" class="form-control">
                    </div>
        
                    <button type="submit" class="btn btn-outline-secondary">Guardar Album</button>
            
                </form>
        
                </div>

        </div>

        <div class="col-md-7">
            <div class="container">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <td>ID:</td>
                        <td>Album:</td>
                        <td>Artista:</td>
                        <td>Año:</td>
                        <td>Operaciones</td>
                    </tr>
                </thead>
        
                <tbody>
                    {% for album in albums %}
                    <tr>
                        <td>{{ album.0 }}</td>
                        <td>{{ album.1 }}</td>
                        <td>{{ album.2 }}</td>
                        <td>{{ album.3 }}</td>
                        <td> <a href="/editar/{{ album.0 }}" class="btn btn-warning"> Editar </a>   
                            <a onclick="deleteA('{{ album.0 }}')" href="javascript:void(0);" class="btn btn-danger">Borrar</a>
                        </td>
                        <!-- <td><a onclick="deleteA('{{ album.0 }}')" href="javascript:void(0);">Borrar</a></td> -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>  
        </div>
    </div>

    </div>

    


    <br>
    <br>
    <br>


    {%endblock%}